[Desktop Entry]
Name=Language Selector
Name[cs]=Výběr jazyka
Name[de]=Sprachauswahl
Name[pt_BR]=Escolha do Idioma
Name[es]=Selector de idiomas
Name[ca]=Selector de llengua
Name[de]=Sprachauswahl
Name[eu]=Hizkuntza hautagailua
Name[fa]=انتخابگر زبان
Name[fi]=Kielen valitsin
Name[fr]=Sélecteur de langue
Name[hu]=Nyelvválasztó
Name[sk]=Výber jazykov
Name[it]=Selettore della Lingua
Name[ku]=Hilbijartina zimanan
Name[nl]=Taalselectie
Name[pt]=Selector de Idioma
Name[pt_BR]=Seletor de Idioma
Name[no]=Språkveldger
Name[pl]=Narzędzie do wyboru języków
GenericName=Language Selector
GenericName[cs]=Výběr jazyka
GenericName[de]=Sprachauswahl
GenericName[pt_BR]=Escolha do Idioma
Comment=Install/remove language support
Comment[cs]=Instaluj/odeber podporu jazyků
Comment[de]=Installieren und entfernen von Sprachunterstützung
Comment[pt_BR]=Instalar/remover suporte a idiomas
Comment[es]=Agregar o quitar soporte de idiomas
Comment[ca]=Instal·leu/desinstal·leu suport per a llengües
Comment[de]=Installiert und deinstalliert Sprachpakete
Comment[eu]=Instalatu/kendu hizkuntza euskarria
Comment[fi]=Asenna/poista kielitukipaketteja
Comment[fr]=Installer/Supprimer des supports de langue
Comment[ku]=Sazkirin/Rakirina desteka zimanan
Comment[pt]=Instale/Remova suporte de idiomas
Comment[pt_BR]=Instale/remova suporte a idiomas
Comment[it]=Installa/rimuovi i supporti per le Lingue
Comment[nl]=Installeer/verwijder ondersteuning voor talen
Comment[hu]=Nyelvek támogatásának telepítése/törlése
Comment[sk]=Pridať/odobrať podporu pre rôzne jazyky
Comment[fa]=پشتیبانی یک زبان را نصب یا خذف نمایید
Comment[no]=Installer/avinstaller språkstøtte
Comment[pl]=Instalacja/usuwanie obsługi języków
Exec=gksudo /usr/bin/gnome-language-selector
Icon=language-selector.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings;
X-KDE-SubstituteUID=true
