[Desktop Entry]
Name=Language Support
Name[af]=Taalondersteuning
Name[am]=የቋንቋ ድጋፍ
Name[ar]=دعم اللغات
Name[ast]=Seleutor de llingües
Name[az]=Dil Dəstəyi
Name[be]=Моўная падтрымка
Name[bg]=Езикова поддръжка
Name[bn]=ভাষা সমর্থন
Name[br]=Skor yezhel
Name[bs]=Jezična Podrška
Name[ca]=Suport d'idioma
Name[crh]=Til Destegi
Name[cs]=Jazyková podpora
Name[csb]=Jãzëczi
Name[da]=Sprogunderstøttelse
Name[de]=Sprachunterstützung
Name[el]=Γλωσσική υποστήριξη
Name[en_AU]=Language Support
Name[en_CA]=Language Support
Name[en_GB]=Language Support
Name[eo]=Lingvosubteno
Name[es]=Soporte de idiomas
Name[et]=Keeletoetus
Name[eu]=Hizkuntza-Sostengua
Name[fi]=Kieliasetukset
Name[fo]=Mál undirtøka
Name[fr]=Prise en charge des langues
Name[fur]=Supuart a la Lenghe
Name[fy]=Taalstike
Name[gl]=Configuración de idioma
Name[gu]=ભાષાકીય સુવિધા
Name[gv]=Cooney çhengey
Name[he]=תמיכה בשפות
Name[hi]=भाषा समर्थन
Name[hr]=Podrška za jezike
Name[hu]=Nyelvi támogatás
Name[id]=Dukungan Bahasa
Name[is]=Tungumál
Name[it]=Supporto lingue
Name[ja]=言語サポート
Name[ka]=მხარდაჭერილი ენა
Name[kk]=Тілдің қолдауы
Name[km]=គាំទ្រ​ភាសា
Name[ko]=언어
Name[ku]=Piştgiriya Zimên
Name[lt]=Kalbos priežiūra
Name[lv]=Valodu atbalsts
Name[mk]=Јазична поддршка
Name[ml]=ഭാഷാ പിന്തുണ
Name[mr]=भाषा आधार
Name[ms]=Sokongan Bahasa
Name[nb]=Språkstøtte
Name[nds]=Sprakunnerstütten
Name[nl]=Taalondersteuning
Name[nn]=Språkstøtte
Name[oc]=Presa en carga de las lengas
Name[pa]=ਭਾਸ਼ਾ ਸਹਿਯੋਗ
Name[pl]=Języki
Name[pt]=Suporte de idioma
Name[pt_BR]=Suporte a idiomas
Name[ro]=Suport limbă
Name[ru]=Язык системы
Name[sc]=Suportu limba
Name[si]=භාෂා සහාය
Name[sk]=Jazyková podpora
Name[sl]=Jezikovna podpora
Name[sq]=Mbështetja Për Gjuhën
Name[sr]=Језичка подршка
Name[sv]=Språkstöd
Name[ta]=மொழி ஆதரவு
Name[th]=สนับสนุนภาษา
Name[tr]=Dil Desteği
Name[ug]=تىل قوللىشى
Name[uk]=Локалізації
Name[vi]=Hỗ trợ ngôn ngữ
Name[zh_CN]=语言支持
Name[zh_HK]=語言支援
Name[zh_TW]=語言支援
Comment=Configure multiple and native language support on your system
Comment[af]=Stel veelvoudige en inheemse taalondersteuning in vir jou stelsel
Comment[ar]=اضبط دعم اللغات المتعددة على نظامك
Comment[ast]=Configurar soporte múltiple y nativu de llingües pal so sistema
Comment[az]=Sisteminizdə çoxsaylı və yerli (doğma) dil dəstəyini quraşdırın
Comment[be]=Наладка падтрымкі моў на вашай сыстэме
Comment[bg]=Настройка на многоезична и вградена езикова поддръжка на Вашата система
Comment[bn]=আপনার সিস্টেমে একাধিক এবং স্থানীয় ভাষা সমর্থন কনফিগার করুন
Comment[br]=Kefluniañ yezh dre ziouer ar reizhiad hag ar yezhoù ouzhpenn
Comment[bs]=Podesi višejezičnu podšku i podršku za maternji jezik na tvom sistemu
Comment[ca]=Configureu el suport d'idiomes múltiples i natiu al vostre sistema
Comment[crh]=Sistemiñizdeki çoqlu ve yerli til destegini ayarlañız
Comment[cs]=Nastavit národní jazykovou podporu společně s podporou dalších jazyků
Comment[csb]=Kònfigùracëjô wielojãzëkòwégò wspiarcô w systemie
Comment[da]=Konfigurér sprogunderstøttelse på dit system
Comment[de]=Mutter- und Mehrsprachenunterstützung einrichten
Comment[el]=Ρύθμιση πολλαπλής γλωσσικής υποστήριξης στο σύστημα σας
Comment[en_AU]=Configure multiple and native language support on your system
Comment[en_CA]=Configure multiple and native language support on your system
Comment[en_GB]=Configure multiple and native language support on your system
Comment[eo]=Agordi multoblan kaj nativan lingvosubtenon por via sistemo.
Comment[es]=Configurar soporte múltiple y nativo de idiomas para su sistema
Comment[et]=Seadista oma süsteemi tarvis lisa- ja emakeele toetus
Comment[eu]=Zure sisteman zein hizkuntza erabiliko diren konfiguratu
Comment[fi]=Aseta järjestelmäsi oletuskieli ja muut tuetut kielet
Comment[fo]=Samanset fleiri og egna mál undirtøku á tínum kervi
Comment[fr]=Configurer les langues supplémentaires et la langue par défaut du système
Comment[fur]=Configure il supuart a la to lenghe e a plui lenghis sul sisteme.
Comment[gl]=Configurar a capacidade para o idioma nativo e para varios idiomas no sistema
Comment[gu]=તમારી સિસ્ટમ પર વિવિધ અને મૂળ ભાષાની સુવિધા રુપરેખાંકિત કરો
Comment[gv]=Reihghyn son ny smoo ny yn çhengey er yn corys ayd's
Comment[he]=הגדרת תמיכה במספר שפות מקומיות שונות במערכת שלך
Comment[hi]=अपने तंत्र पर एकाधिक देशी भाषा समर्थन का विन्यास करें
Comment[hr]=Konfiguracija podržanih jezika na sustavu
Comment[hu]=Több különböző, illetve az anyanyelv támogatásának beállítása a rendszeren
Comment[id]=Mengonfigurasi dukungan bahasa multi dan asal pada sitem Anda
Comment[is]=Breyta stillingum fyrir tungumál í kerfinu og bæta við nýjum
Comment[it]=Configura il supporto alla lingua nativa e a lingue multiple sul sistema
Comment[ja]=システムで利用する各言語と母国語を設定します
Comment[ka]=თქვენს სისტემაში ძირითადი და სხვა ენების მხარდაჭერის კონფიგურაცია
Comment[kk]=Жүйедегі қосымша және ана тілдерін қалыпқа келтіру
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ច្រើន​ និងគាំទ្រ​​ភាសា​ដើម​លើ​ប្រព័ន្ធ​របស់​អ្នក
Comment[ko]=시스템 상에 복수 개의 모국어 지원 설정
Comment[ku]=Piştgiriya pirzimanî û zimanên dayîkî di pergala xwe de veava bike
Comment[lt]=Konfigūruoti daugybinį ir gimtosios kalbos palaikymą sistemoje
Comment[lv]=Konfigurējiet vairāku un noklusēto valodu atbalstu jūsu sistēmā
Comment[mk]=Конфигурирајте поддршка за мајчин јазик и поддршка за повеќе јазици на Вашиот систем
Comment[mr]=आपल्या प्रणालीमध्ये अनेक आणि मूळ भाषा आधार संयोजीत करा
Comment[ms]=Ubahsuaikan bantuan bahasa pelbagai dan bahasa bumiputera pada sistem anda
Comment[nb]=Still inn språkstøtte for systemet
Comment[nl]=Instellen van ondersteuning voor meerdere talen op uw systeem
Comment[nn]=Konfigurer språkstøtte for systemet
Comment[oc]=Configurar la presa en carga multilingüa e nativa sus vòstre sistèma
Comment[pl]=Konfiguracja obsługi wielu języków w systemie
Comment[pt]=Configurar suporte para vários idiomas no seu sistema
Comment[pt_BR]=Configure suporte a vários idiomas nativos no seu sistema
Comment[ro]=Configurați suportul pentru limba nativă și alte limbi în sistem
Comment[ru]=Выбор и установка поддержки основного и дополнительных языков операционной системы
Comment[sc]=Configura su suportu mùltiplu e sa limba mama pro su sistema tou.
Comment[sk]=Nastaviť podporu viacerých jazykov na vašom systéme
Comment[sl]=V sistemu nastavite podporo svojemu in drugim jezikom
Comment[sq]=Konfiguroni mbështetjen për shumë gjuhë dhe për gjuhën e nënës në sistemin tuaj.
Comment[sr]=Подеси вишејезичну подшку и подршку за матерњи језик на твом систему
Comment[sv]=Konfigurera stöd för flera språk, samt ursprungligt språk, för ditt system
Comment[ta]=உங்கள் கணினியில் பல் மொழி மற்றும் தாய் மொழிக்கு ஆதரவு வடிவமைக்க
Comment[th]=ตั้งค่าการสนับสนุนภาษาต่างๆในระบบของคุณ
Comment[tr]=Sisteminizdeki çoklu ve yerel dil desteğini yapılandırın
Comment[ug]=سىستېمىدا ئىشلىتىلىدىغان تىل ۋە ئانا تىلنى سەپلەش
Comment[uk]=Налаштувати підтримку додаткових мов у системі
Comment[vi]=Cấu hình hỗ trợ đa ngôn ngữ và ngôn ngữ bản địa cho hệ thống của bạn
Comment[zh_CN]=为您的系统配置多字节本地语言支持。
Comment[zh_HK]=在您的系統配置多重及原生語言支援
Comment[zh_TW]=於您的系統上配置多個語言以及母語的支援
Exec=/usr/bin/gnome-language-selector
Icon=config-language
Terminal=false
Type=Application
Categories=System;Settings;
X-Ubuntu-Gettext-Domain=language-selector
NotShowIn=KDE;
