[Desktop Entry]
Name=Language Support
Name[de]=Sprachunterstützung
Name[fi]=Kieliasetukset
Name[pt_BR]=Suporte a Idiomas
GenericName=Language Support
GenericName[de]=Sprachunterstützung
GenericName[fi]=Kieliasetukset
GenericName[pt_BR]=Suporte a Idiomas
Comment=Configure multiple and native language support on your system
Comment[de]=Mehr- und Muttersprachenunterstützung festlegen
Comment[fi]=Aseta järjestelmäsi oletuskieli ja muut tuetut kielet
Comment[pt_BR]=Configure suporte a vários idiomas nativos no seu sistema
Exec=/usr/bin/qt-language-selector
Icon=language-selector.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings;
X-KDE-SubstituteUID=true
X-Ubuntu-Gettext-Domain=language-selector